<div id="app-root"></div>

<div class="ws-test">
    <label for="chat-input">Enter a lowercase string here:</label>
    <input id="chat-input" type="text" />
    <div style="border: 1px solid orange" id="messages">
        Messages uppercased on the server and returned via WS:
    </div>
</div>
